@import url("https://fonts.googleapis.com/css?family=Roboto:300");

:root {
  --color-primario: #001b2c;
  --color-secundario: #bd9c55;
  --color-terciario: #d9d8c7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none;
  color: var(--color-secundario);
}
/* 
a:link,
a:visited {
  text-decoration: none;
  color: var(--color-secundario);
} */

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  text-decoration: none;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: white;
}

.wps:visited,
.wsp:link {
  color: white;
}

/* ************NAVBAR ************ */

.logo1 {
  width: 100px;
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: var(--color-primario);
  width: 100%;
  border-bottom: 1px solid var(--color-terciario);
  z-index: 1000;
  color: var(--color-secundario);
  font-weight: bolder;
}

ul {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin: 1.5rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  gap: 2rem;
}

li {
  list-style: none;
}

.vivo {
  width: 120px;
  border-radius: 50px;
  font-family: "Roboto", sans-serif !important;
  border: 2px solid var(--color-terciario);
  background: rgb(157, 121, 0);
  background: linear-gradient(
    45deg,
    rgba(157, 121, 0, 1) 0%,
    rgba(255, 237, 132, 1) 100%
  );
  color: var(--color-primario);
  font-weight: bold;
  cursor: pointer;
}

.login {
  width: 120px;
  height: 50px;
  border-radius: 50px;
  font-family: "Roboto", sans-serif !important;
  border: 2px solid var(--color-terciario);
  background: rgb(110, 110, 110);
  background: linear-gradient(
    45deg,
    rgba(110, 110, 110, 1) 0%,
    rgba(228, 228, 228, 1) 100%
  );
  color: var(--color-primario);
  font-weight: bold;
  cursor: pointer;
}

.vivo-link,
.vivo-link:visited,
.vivo-link:link {
  color: var(--color-primario);
}

.btn__container {
  display: none;
}

@media screen and (max-width: 1000px) {
  .btn__container {
    display: flex;
    padding: 2rem;
  }

  .barra {
    font-size: 2rem;
    color: var(--color-secundario);
    cursor: pointer;
  }

  /* .container-items {
    display: none;
  } */

  ul {
    flex-direction: column;
    display: none;
    gap: 1rem;
  }

  .vivo,
  .login {
    height: 3rem;
  }

  .show {
    display: flex;
  }
}

/* ***********HEADER*********** */

header {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulos {
  position: absolute;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulos h1 {
  font-size: 10rem;
  z-index: 1;
  color: var(--color-secundario);
  text-shadow: 2px 2px var(--color-secundario);
  font-weight: bolder;
}

.titulos h2 {
  z-index: 1;
  font-size: 3rem;
  color: var(--color-terciario);
  font-weight: bold;
}

.logo2 {
  width: 300px;
}

video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 700px) {
  .titulos h1 {
    font-size: 5rem;
  }

  .titulos h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .titulos h1 {
    font-size: 5rem;
  }

  .titulos h2 {
    font-size: 1.5rem;
  }
}

/* ***********NOSOTROS*********** */

#nosotros {
  padding: 5rem;
  background-color: var(--color-primario);
}

#nosotros h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--color-terciario);
}

.container2 img {
  width: 300px;
}

.container2 {
  padding: 3rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.container2 p {
  text-align: justify;
  max-width: 600px;
  color: var(--color-secundario);
  font-size: 1.5rem;
}

@media screen and (max-width: 1250px) {
  .container2 {
    flex-direction: column;
    padding: 2rem 0;
  }

  #about {
    padding: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .container2 img {
    width: 100%;
  }

  .container2 p {
    margin: 2rem;
  }
}

/* ***********PROFES***********

#profes {
  background-image: url(../img/grafico.png);
  background-size: cover;
  padding: 5rem;
}

#profes h1 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 3rem;
  color: var(--color-terciario);
}

.container_profes {
  display: flex;
  gap: 2rem;
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.logo3 {
  width: 100px;
}

.card_profe {
  background-color: var(--color-terciario);
  padding: 2rem 4rem;
  max-width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_profe {
  text-align: justify;
}

.nombre {
  font-style: oblique;
  margin-top: 1rem;
  align-self: flex-start;
} */

/* ***********SERVICIOS*********** */

#servicios {
  padding: 5rem 0;
  background-color: var(--color-primario);
}

#servicios h1 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 3rem;
  color: var(--color-terciario);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1300px;
  margin: 0 auto;
}

.card {
  position: relative;
  width: 350px;
  height: auto;
  background: linear-gradient(-45deg, #fe0847, #feae3f);
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card1 {
  background: rgb(209, 106, 38);
  background: linear-gradient(
    45deg,
    rgba(209, 106, 38, 1) 0%,
    rgba(245, 214, 164, 1) 100%
  );
}

.card2 {
  background: rgb(110, 110, 110);
  background: linear-gradient(
    45deg,
    rgba(110, 110, 110, 1) 0%,
    rgba(228, 228, 228, 1) 100%
  );
}

.card3 {
  background: rgb(157, 121, 0);
  background: linear-gradient(
    45deg,
    rgba(157, 121, 0, 1) 0%,
    rgba(255, 237, 132, 1) 100%
  );
}

.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
}

.tituloo {
  color: white;
  padding: 0 0 2rem 0;
  text-transform: uppercase;
}

.price,
.option {
  position: relative;
}

.price h4 {
  margin: 0;
  padding: 20px 0 0 0;
  color: #fff;
  font-size: 60px;
  text-shadow: 2px 2px 2px black;
}

.option p {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.card button {
  border: none;
  position: relative;
  background: #fff;
  color: black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.card a:hover {
  text-decoration: none;
}

.logo {
  width: 150px;
  height: 150px;
}

del {
  color: rgb(121, 0, 0);
}

.check {
  color: greenyellow;
}

/* ************FOOTER *********** */

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  border-top: 3px solid var(--color-secundario);
}

.icon {
  font-size: 2rem;
}

.redes-sociales {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.redessociales__container h3 {
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 900px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}

/* ***********SUSCRIPCIONES*********** */

#suscripciones {
  background-color: var(--color-primario);
  padding: 5rem 13rem;
  color: var(--color-terciario);
}

#suscripciones h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--color-terciario);
  margin-bottom: 3rem;
}

h3 {
  color: var(--color-secundario);
}

.texto p {
  text-align: justify;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.trading1 {
  width: 500px;
  height: 350px;
  margin: 2rem;
  float: right;
}

.trading2 {
  width: 500px;
  height: 350px;
  margin: 0 2rem 2rem 0;
  float: left;
}

@media screen and (max-width: 1400px) {
  #suscripciones {
    padding: 5rem 10rem;
  }
}

@media screen and (max-width: 1150px) {
  #suscripciones {
    padding: 5rem 3rem;
  }
}
