@import url("https://fonts.googleapis.com/css?family=Roboto:300");

:root {
  --color-primario: #001b2c;
  --color-secundario: #bd9c55;
  --color-terciario: #d9d8c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/grafico.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto";
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

p {
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  max-width: 1000px;
  background-color: var(--color-terciario);
  border-radius: 10px;
  padding: 5rem;
}
